# Python
__pycache__/
*.pyc
.venv/
.env

# Ignorar todo en data, excepto los punteros .dvc y .gitkeep
data/**
!data/**/*.dvc
!data/.gitkeep

# Ignorar todo en models, excepto los punteros .dvc y .gitkeep
models/**
!models/**/*.dvc
!models/.gitkeep

# SO / Jupyter
.DS_Store
Thumbs.db
.ipynb_checkpoints/
