# Python
__pycache__/
*.pyc
.venv/
.env

# ---- DATA (ignorar todo, excepto .dvc y .gitkeep) ----
data/**
!data/
!data/**/
!data/**/*.dvc
!data/.gitkeep

# ---- MODELS (ignorar todo, excepto .dvc y .gitkeep) ----
models/**
!models/
!models/**/
!models/**/*.dvc
!models/.gitkeep

# SO / Jupyter
.DS_Store
Thumbs.db
.ipynb_checkpoints/
